.DS_Store
Icon?
.build/
.build-*/
DerivedData/
build/
dist/
node_modules/
node_modules
artifacts/
*.xcuserstate
xcuserdata/
Dockit.xcodeproj/
*.inspect.ndjson
*.mp4
__pycache__/
*.pyc
Design/Installer/background.png
Design/Installer/background@2x.png
Design/Installer/background.tiff
Design/Installer/white/
